<div class="row">
  <div [ngClass]="{'col-md-8 pr-0': modoEditar, 'col-md-12': !modoEditar}">
    <div class="card rounded shadow-sm">
      <form [formGroup]="form"  (submit)="onSubmit()">
        <div class="p-3">
          <!-- Para testes de validação de formularios
          <p>
            Form Value: {{form.value | json}}
          </p>
          <p>
            Form Status: {{form.status | json}}
          </p>
          -->
          <div class="row">
            <div class="col">
              <label>Nome</label>
              <input type="text" class="form-control is-invalid"
                  [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
                  formControlName="nome" placeholder="Insira o Nome">
                  <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
                    obrigatório
                  </div>
                  <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
                    mínimo 3 caracteres
                  </div>
                  <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
                    máximo 200 caracteres
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Cód. Interno</label>
              <input type="text" class="form-control" formControlName="codigoInterno" placeholder="Insira o Cód. Interno">
            </div>
            <div class="col">
              <label>Marca</label>
              <input type="text" class="form-control" formControlName="marca" placeholder="Insira a Marca">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Prazo Validade (dias)</label>
              <input type="number" class="form-control" formControlName="prazoValidadeDias" placeholder="0">
            </div>
            <div class="col">
              <label>Qtd Estoque</label>
              <input type="number" class="form-control" formControlName="qtdeEstoque" placeholder="0">
            </div>
            <div class="col">
              <label>Custo</label>
              <input type="number" class="form-control" formControlName="custo" placeholder="0,00">
            </div>
            <!-- <div class="col">
              <label>Foto</label>
              <input type="text" class="form-control" formControlName="foto" placeholder="Nome Foto">
            </div> -->
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <!--
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
              Cancelar Alteração
            </button>
            -->
            <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
              <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
              Salvar EPI
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4" *ngIf="modoEditar">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <div class="card-img-block">
            <img class="image" [src]="imagemURL" class="img-fluid" (click)="file.click()" alt="Card photo"
            tooltip="Upload de Nova Foto" [adaptivePosition]="false" placement="bottom"/>
          </div>
        </div>
        <div class="card-body pt-3">
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

