<div class="card rounded shadow-sm">
  <form [formGroup]="form"  (submit)="onSubmit()">
    <div class="p-3">
      <!-- Para testes de validação de formularios
      <p>
        Form Value: {{form.value | json}}
      </p>
      <p>
        Form Status: {{form.status | json}}
      </p>
      -->
      <div class="row">
        <div class="col">
          <label>Nome</label>
          <input type="text" class="form-control is-invalid"
              [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
              formControlName="nome" placeholder="Insira o Nome">
              <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
                obrigatório
              </div>
              <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
                mínimo 3 caracteres
              </div>
              <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
                máximo 200 caracteres
              </div>
        </div>
        <div class="col">
          <label>Setor</label>
          <select class="form-control" formControlName="setorId">
            <option *ngFor="let setor of setores" value={{setor.id}}>{{setor.nome}}</option>
          </select>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <label>CPF</label>
          <input type="text" class="form-control" formControlName="cpf" placeholder="000.000.000-00">
        </div>
        <div class="col">
          <label>RG</label>
          <input type="text" class="form-control" formControlName="rg" placeholder="00.000.000">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" placeholder="(00) 0 0000-0000">
        </div>
        <div class="col">
          <label>E-Mail</label>
          <input type="text" class="form-control" formControlName="email" placeholder="E-Mail">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label>Endereço</label>
          <input type="text" class="form-control" formControlName="endereco" placeholder="Rua, número, bairro">
        </div>
        <div class="col">
          <label>Município</label>
          <input type="text" class="form-control" formControlName="municipio" placeholder="Nome Município">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label>UF</label>
          <input type="text" class="form-control" formControlName="uf" placeholder="UF">
        </div>
        <div class="form-group col-md-2">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="cep" placeholder="00000-000">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <!--
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        -->
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarColaborador()">
          <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
          Salvar Colaborador
        </button>
      </div>
    </div>
  </form>
  </div>

  <!--app-colaborador-epi-->

  <!--Codigo alterado aqui - ini-->
  <div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
    <!--
    <p>Form value: {{form.controls.colaboradoresEpis.value | json}}</p>
    <p>Form valid: {{form.controls.colaboradoresEpis.status | json}}</p>
    <p>colaboradorID: {{this.colaboradorId | json}}</p>
    <p>ceAtual: {{this.ceAtual.id | json}}</p>
    <p>ceIndex: {{this.ceAtual.index | json}}</p>
    -->
    <div class="p-3">
      <div class="d-flex border-bottom">
        <h2 class="mr-auto">
          Entregar EPI
        </h2>
        <h2>
          <i class="fa-solid fa-head-side-mask"></i>
        </h2>
      </div>
      <!-- <p>Clique em EPI para entregar um novo equipamento</p> -->
      <!--passado pra cá - ini-->
      <!-- <div class="row">
        <div class="form-group col-md-4">
          <label>EPI</label>
          <select class="form-control" style="margin-bottom: 10px;" formControlName="epiId">
            <option *ngFor="let epi of epis" value={{epi.id}}>{{epi.nome}}</option>
          </select>
        </div>
        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-2">
              <button [disabled]="!form.controls['colaboradoresEpis'].valid" class="btn btn-success" (click)="salvarColaboradorEpi()">
                Entregar EPI
              </button>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-primary float-right" (click)="cancelarAdicaoColaboradorEpi()">
                Cancelar Entrega
              </button>
            </div>
          </div>

        </div>
      </div> -->
      <!--passado pra cá - fim-->
      <div class="form-row p-1">
        <div [formGroup]="form" class="col">
          <div formArrayName="colaboradoresEpis" *ngFor="let ce of ces.controls let i=index">
            <fieldset [formGroupName]="i" class="form-group">
              <button (click)="devolverEpi(template, i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                  tooltip="Devolver EPI"
                  *ngIf="getIdCeAtual(template, i) !== 0"
                  [adaptivePosition]="false"
                  [delay]="500"
                  placement="left">
                <i class="fa fa-window-close my-1" style="margin-right: 5;"></i>
                <b class="ml-1 d-none d-sm-block" style="margin-left: 5px;">Devolver</b>
              </button>

            <!--estava aqui - ini-->
            <div class="row">
              <div class="form-group col-md-4" *ngIf="getIdCeAtual(template, i) === 0">
                <label>EPI</label>
                <select class="form-control" style="margin-bottom: 10px;" (change)='onOptionsSelected($event)'>
                  <option value="">Selecione</option>
                  <option *ngFor="let epi of epis" value={{epi.id}}>{{epi.nome}}</option>
                </select>
              </div>
              <!-- <div class="form-group col-md-4">
                <label>EPI</label>
                <select class="form-control" style="margin-bottom: 10px;" formControlName="epiId">
                  <option *ngFor="let epi of episColaborador" value={{epi.epiId}}>{{epi.epiNome}}</option>
                </select>
              </div> -->
              <div class="form-group col-md-4" *ngIf="getIdCeAtual(template, i) !== 0">
                <label>EPI</label>
                <input
                type="text"
                class="form-control"
                formControlName="epiNome"
                [ngClass]="cssValidator(ces.get(i+'.epiNome'))"
                [readonly]="getIdCeAtual(template, i) !== 0"
                placeholder="Nome EPI">
              </div>
              <br>
              <!-- <div class="form-group col-md-2 invisible">
                <label>Id</label>
                <input type="text" class="form-control" formControlName="id">
              </div> -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-2" *ngIf="getIdCeAtual(template, i) === 0">
                    <button [disabled]="!form.controls['colaboradoresEpis'].valid" class="btn btn-success" (click)="salvarColaboradorEpi()">
                      Entregar EPI
                    </button>
                  </div>
                  <!-- <div class="col-2">
                    <button class="btn btn-outline-primary float-right" (click)="cancelarAdicaoColaboradorEpi()">
                      Cancelar Entrega
                    </button>
                  </div> -->
                </div>

              </div>
            </div>
            <!--estava aqui - fim-->
          </fieldset>

        </div>
        <br>
        <hr>
      </div>
    </div>
    <button class="d-flex btn btn-outline-primary" (click)="adicionarColaboradorEpi()">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">EPI</b>
    </button>
  </div>
</div>
  <!--Codigo alterado aqui - fim-->

<br>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma Devolução?</p>
    <button type="button" class="btn btn-default" (click)="confirmDevolucao()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDevolucao()" >Não</button>
  </div>
</ng-template>

<style type="text/css">

  .iconesSociais {
    color: rgb(94, 94, 94);
  }

  .capitalize {
    text-transform: capitalize;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: silver;
  }

  .tab-pane {
    padding: 20px 8px 8px;
    border-top: 0px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
  }

  .card-evento {
    position: sticky;
    --default-height: 25px;
    top: var(--default-height);
  }

  </style>

