<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text">Filtro:</label>
        </div>
        <input type="text" class="form-control" placeholder="Filtrar por Nome" (input)="filtrarEpis($event.target)">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/epis/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">Foto</th>
      <th>ID</th>
      <th>Cód. Interno</th>
      <th>Nome</th>
      <th>Marca</th>
      <th>Validade (dias)</th>
      <th>Custo</th>
      <th>Qtde Estoque</th>
      <th style="text-align: right;">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="epis && epis.length">
      <tr *ngFor="let epi of epis"><!--(click)="detalheEvento(setor.id)" style="cursor:pointer;" Se quiser ir para edição ao clicar na linha (bom pra celular) -->
        <td class="d-none d-md-table-cell">
          <img [src]="exibirFoto(epi.foto)" alt="" [style.width.px]="largFoto" [style.margin.px]="margFoto">
        </td>
        <td>{{ epi.id }}</td>
        <td>{{ epi.codigoInterno }}</td>
        <td>{{ epi.nome }}</td>
        <td>{{ epi.marca }}</td>
        <td>{{ epi.prazoValidadeDias }}</td>
        <td>{{ epi.custo }}</td>
        <td>{{ epi.qtdeEstoque }}</td>
        <td style="text-align: right;">
           <!--Para agrupar colocar os btns dentro desta tag e tirar mr-2
          <div class="btn-group"></div>
          -->
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip = "Editar" (click)="detalheEpi(epi.id)"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-danger btn-sm" tooltip = "Excluir" (click)="openModal($event, template, epi.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!epis || !epis.length">
      <tr>
        <td colspan="3"><h4>Nenhum EPI Encontrado.</h4></td>
      </tr>
    </tfoot>
  </table>

  <div class="d-flex justify-content-center">
    <pagination
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="pagination.currentPage"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      [align]="true"
      pageBtnClass="btn">
    </pagination>
  </div>
 </div>

  <!--{{eventos | json}}-->

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Confirma Exclusão?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>
