<div class="card rounded shadow-sm">
  <form [formGroup]="form"  (submit)="onSubmit()">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input type="text" class="form-control"
              [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
              formControlName="nome" placeholder="Insira o Nome">
          <!--<div *ngIf="form.controls['nome'].invalid && (form.controls['nome'].dirty || form.controls['nome'].touched)" class="alert">
            <div *ngIf="form.controls['nome'].errors.required">
            Please enter username
          </div>
        </div>-->
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            obrigatório
          </div>
          <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
            mínimo 3 caracteres
          </div>
          <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
            máximo 200 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <!--
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        -->
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
          Salvar Setor
        </button>
      </div>
    </div>
  </form>
  </div>
