<app-titulo [titulo]="'Perfil'" [iconClass]="'fa fa-address-card'"></app-titulo>
<div class="card rounded shadow-sm">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header">
            <input type="file" #file (change)="onFileChange($event)" style="display: none;">
          </div>
          <div class="d-flex align-self-center pt-3">
              <img
              [src]="perfilImgUrl"
              class="rounded-circle"
              (click)="file.click()"
              name="aboutme" width="120" height="120"
              style="cursor: pointer;">
          </div>
          <div class="card-body">
            <!-- <div class="h4 text-center mb-3">@{{userUpdate.userName}}</div> -->
            <div class="h7">
              <b>Usuário Logado: </b>{{userUpdate.userName}}
            </div>
            <div class="h7 text-bold pb-1">
              <b>Nome:</b> {{userUpdate.nome}}
            </div>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">0</div>
                  <div class="h6 text-muted">Meus Eventos Criados</div>
                </div>
              </div>
            </li>
          </ul> -->
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <tabset>
          <tab class="border border-top-0 p-3">
            <ng-template tabHeading>
              <i class="fa fa-address-card mr-2"></i><span>Perfil</span>
            </ng-template>
              <div class="form-row">
                <div class="form-group col-12">
                  <h3 class="border-bottom">Detalhe Perfil</h3>
                </div>
              <div class="form-group col-sm-5">
                <label>Nome</label>
                <input type="text" formControlName="nome" class="form-control"
                [ngClass]="{ 'is-invalid': f.nome.errors && f.nome.touched }" />
                <div *ngIf="f.nome.errors && f.nome.touched" class="invalid-feedback">
                  <div *ngIf="f.nome.errors.required">Nome é obrigatório</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-5">
                <label>E-mail</label>
                <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
                <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">e-mail é obrigatório</div>
                  <div *ngIf="f.email.errors.email">e-mail precisa ser um endereço válido.</div>
                </div>
              </div>
            </div>
            <div>
              <h3 class="pt-3 border-bottom">Mudar Senha</h3>
              <p>Caso mude de senha, preencha os campos abaixo:</p>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <label>Senha</label>
                <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />
                <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                  <div *ngIf="f.password.errors.minlength">Senha precisa ter pelo menos 6 caracteres</div>
                </div>
              </div>
              <div class="form-group col-sm">
                <label>Confirmar Senha</label>
                <input type="password" formControlName="confirmePassword" class="form-control"
                [ngClass]="{ 'is-invalid': f.confirmePassword.errors && f.confirmePassword.touched }" />
                <div *ngIf="f.confirmePassword.errors && f.confirmePassword.touched" class="invalid-feedback">
                  <div *ngIf="f.confirmePassword.errors.required">Confirmação de senha é Obrigatório</div>
                  <div *ngIf="f.confirmePassword.errors.mustMatch">Repedir a senha é obrigatório.</div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <button (click)="resetForm($event)" class="btn btn-outline-secondary mr-auto border">
                  Cancelar Alteração
                </button>
                <button class="btn btn-success" type="submit">
                  Salvar Alteração
                </button>
              </div>
            </div>
          </tab>
        </tabset>
        </div>
</div>
</form>
</div>
