<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text">Filtro:</label>
        </div>
        <input type="text" class="form-control" placeholder="Filtrar por Nome" (input)="filtrarColaboradores($event.target)">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/colaboradores/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Foto</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Cpf</th>
        <th>Telefone</th>
        <th>E-Mail</th>
        <th style="text-align: right;">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="colaboradores && colaboradores.length">
      <tr *ngFor="let colaborador of colaboradores"><!--(click)="detalheEvento(setor.id)" style="cursor:pointer;" Se quiser ir para edição ao clicar na linha (bom pra celular) -->
        <td>{{ colaborador.id }}</td>
        <td>{{ colaborador.nome }}</td>
        <td>{{ colaborador.cpf }}</td>
        <td>{{ colaborador.telefone }}</td>
        <td>{{ colaborador.email }}</td>
        <td style="text-align: right;">
           <!--Para agrupar colocar os btns dentro desta tag e tirar mr-2
          <div class="btn-group"></div>
          -->
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip = "Editar" (click)="detalheColaborador(colaborador.id)"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-danger btn-sm" tooltip = "Excluir" (click)="openModal($event, template, colaborador.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!colaboradores || !colaboradores.length">
      <tr>
        <td colspan="3"><h4>Nenhum Colaborador Encontrado.</h4></td>
      </tr>
    </tfoot>
  </table>

  <div class="d-flex justify-content-center">
    <pagination
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="pagination.currentPage"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      [align]="true"
      pageBtnClass="btn">
    </pagination>
  </div>
 </div>

  <!--{{eventos | json}}-->

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Confirma Exclusão?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>
