<app-titulo titulo="Home" iconClass="fa-solid fa-user-group" [botaoListar]="false"></app-titulo>

<router-outlet></router-outlet>

<h1><b>Seja Bem Vindo ao ControlEpi!</b></h1>

<hr>
<div class="container text-center">
  <img src="./assets/img/background-home.jpg" alt="Girl in a jacket" width="700" height="600">
</div>




