// #sect1 {
//   //height: 650 px;
//   //color: #fff;
//   background-image: url("/assets/img/background-home.jpg");
//   //background-size: 100%;
//   //background-size: cover;
//   background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
