<div class="d-flex align-items-center p-3 my-3 text-white bg-secondary rounded shadow-sm">
  <div class="col-10 d-flex align-items-center mr-auto">
    <i class="{{iconClass}}"></i>
    <div class="lh-100">
      <h2 class="mb-0">{{titulo}}</h2>
      <!--<small>descricao</small>-->
    </div>
  </div>

  <div class="p-3 float-end" *ngIf="botaoListar">
    <button class="btn btn-outline-light" (click)="listar()">
      Listar {{titulo}}
    </button>
  </div>
</div>

