<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()"> <!-- para qdo login estiver pronto *ngIf="showMenu()"-->
  <div class="container">
    <a class="navbar-brand" routerLink="home" title="Ir para Home">
      <i class="fa fa-home mb-2"></i>
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="setores/lista">Setores</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="colaboradores/lista">Colaboradores</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="epis/lista">EPI's</a>
        </li>
      </ng-container>
    </ul>
    <div *ngIf="(accountService.currentUser$ | async) === null" class="navbar-nav mr-3 d-xs-none d-none d-md-block">
      <a class="btn btn-light mr-2 border" routerLink="/user/login">Entrar</a>
      <a class="btn btn-warning" routerLink="/user/registration">Cadastrar</a>
    </div>
    <ul *ngIf="(accountService.currentUser$ | async) !== null" class="navbar-nav">
      <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
          <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ user.userName | titlecase}}
        </a>

        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="user/empresa">
            Empresa
          </a>
          <a class="dropdown-item" routerLink="user/perfil">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" style="cursor: pointer;"  (click)="logout()"> <!--routerLink="user/login"-->
            Sair
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
