<!--
<div class="card rounded shadow-sm mt-4">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Entregar EPI
      </h2>
      <h2>
        <i class="fa-head-side-mask fa-solid"></i>
      </h2>
    </div>


    <legend class="d-flex justify-content-between capitalize">
      <button class="d-flex btn btn-outline-primary" (click)="adicionarColaboradorEpi()" title="Entregar novo EPI">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1">EPI</b>
      </button>
  </legend>



    <br>
    <div class="form-row p-1">
      <div class="col">
        <div>
          <fieldset class="form-group">

          <div class="row">
            <div class="form-group col-md-4">
              <label>Colaborador</label>
              <select class="form-control" formControlName="setorId">
                <option *ngFor="let colaborador of colaboradores" value={{colaborador.id}}>{{colaborador.nome}}</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label>EPI</label>
              <select class="form-control" formControlName="setorId">
                <option *ngFor="let epi of epis" value={{epi.id}}>{{epi.nome}}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

    <div class="form-group col-md-4">
      <button class="btn btn-success" tooltip="Confirmar Entrega de EPI">
        <i class="fa fa-plus-circle my-1"></i>
        Confirmar Entrega
      </button>

      <button class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex" id="btnDevolverEpi"
        tooltip="Devolução EPI"
        [adaptivePosition]="false"
        [delay]="500"
       placement="left">
        <i class="fa fa-window-close my-1"></i>
        <b class="ml-1 d-none d-sm-block">Devolver</b>
      </button>
  </div>

-->
