.iconesSociais {
  color: rgb(94, 94, 94);
  }

  .capitalize {
  text-transform: capitalize;
  border-bottom: 1px solid rgb(226, 226, 226);
  color: silver;
  }

  .tab-pane {
  padding: 20px 8px 8px;
  border-top: 0px;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  }

  .card-evento {
  position: sticky;
  --default-height: 25px;
  top: var(--default-height);
  }

  #btnDevolverEpi{
    float: right;
  }
